*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(0, 0, 0, 0.7) url('food.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1{
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
}

.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 4px;
    transition: 3.5s;
}

.navbar ul li a:hover{
    box-shadow: 0 3px 50px orangered inset,0 3px 50px orangered inset,
    0 3px 50px orangered inset,0 3px 50px orangered inset;
}

.navbar .reservation{
    padding: 8px;
    background-color: orangered;
}

.content{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 30%;
}

.content h3{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 30%;
}

.content h1{
    font-size: 50px;
}


.search{
    position: absolute;
    margin-top: 25%;
    margin-left: 42%;
}

.search input{
    outline: none;
    border: none;
    padding: 12px 40px;
    size: 1em;
    width: 100%;
}

.submit{
    position: absolute;
    margin-top: 29%;
    margin-left: 49%;
}

.submit a{
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background-color: orangered;
}